@import "../../global.scss";

.aboutme {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper{
    width: 70%;

    p {
      margin-top: 20px;
      font-size: 30px;

      @include mobile{
        font-size: 15px;
      }

      ul {
        padding: 0;
      }
      li {
        text-decoration: none;
        margin-top: 15px;

        a {
          text-decoration: none;
          color: red;
        }
      }
    }
  }
}